Bronze/Pipelines/4_PL_Bronze_Weather_Ingest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT\n    city_id,\n    city_name,\n    latitude,\n    longitude \nFROM cities_selection_view;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "cities_selection_view"
            },
            "schema": [],
            "linkedService": {
              "name": "wh_silver",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "db2942b9-4c6e-43a8-974b-ded16abfd378",
                  "endpoint": "t63mrljwyocupkxzbrhpojjiea-xgjtaa3ovpsu3d3rslr7dt6jiu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "033093b9-ab6e-4de5-8f71-92e3f1cfc945"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_Selected_Cities",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_Selected_Cities').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "requestMethod": "GET",
                  "paginationRules": {
                    "supportRFC5988": "true"
                  },
                  "httpRequestTimeout": "00:01:40",
                  "requestInterval": "00.00:00:00.010",
                  "datasetSettings": {
                    "type": "RestResource",
                    "typeProperties": {
                      "relativeUrl": {
                        "value": "/data/2.5/weather?lat=@{item().latitude}&lon=@{item().longitude}&units=metric&appid=@{pipeline().parameters.Key_API}",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "4d643d19-e708-4e31-b88b-15b5eeda46eb"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "JsonSink",
                  "formatSettings": {
                    "type": "JsonWriteSettings"
                  },
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat(\n  'Weather/', \n  string(item().city_id), '_', item().city_name, '/',\n  formatDateTime(utcnow(),'yyyy'), '/',\n  formatDateTime(utcnow(),'MM'), '/',\n  formatDateTime(utcnow(),'dd'), '/',\n  formatDateTime(utcnow(),'HH'), '/'\n)",
                          "type": "Expression"
                        },
                        "fileName": "CurrentWeather.json"
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "lh_bronze",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "ec6cb84e-c0f8-8301-41a0-93e7dc3ad09d",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEachCity",
        "dependsOn": [
          {
            "activity": "Lookup_Selected_Cities",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "Key_API": {
        "type": "string",
        "defaultValue": "4651e6ee033e277ab4edb7aff08ffbfc"
      }
    }
  }
}